# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database (optional if you don’t want to share it)
db.sqlite3

# Ignore media files (user uploads)
media/

# Ignore collected static files
staticfiles/
